<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snap! | Blog</title>
    {{!-- Bootstrap CDN --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {{!-- Font Awesome CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- Custom CSS --}}    
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<style>
.blog.container {
    margin-top: 200px;
    margin-bottom: 100px;
}

.category {
    ;
}
</style>
<body>
{{#if username}}
    {{!-- Navbar Start --}}
    <nav class="navbar fixed-top navbar-expand-lg bg-light shadow-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="/img/snap-logo.png" alt="Snap! Logo" height="70px" width="auto">
                <span class="navbar-brand mb-0 h1">
                    <em><strong>Snap!</strong></em> Web Hosting
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-primary btn-md mx-2 dropdown-toggle user-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{username}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user/dash/{{username}}">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/auth/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    {{!-- Navbar End --}}
{{else}}
    {{!-- Navbar Start --}}
    <nav class="navbar fixed-top navbar-expand-lg bg-light shadow-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="/img/snap-logo.png" alt="Snap! Logo" height="70px" width="auto">
                <span class="navbar-brand mb-0 h1">
                    <em><strong>Snap!</strong></em> Web Hosting
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary btn-md mx-2 login-btn" href="/user/login">Login</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    {{!-- Navbar End --}}
{{/if}}
<div class="blog container">
    <h1 class="display-6 text-muted text-center">Blog</h1>
    <hr />
    {{!-- <h1 class="text-muted display-6 text-center">Blog</h1>
    <hr /> --}}
    {{!-- <div class="container">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/under-construction-building-site-4224364-3518829.png" style="width:300px; height: auto;" class="rounded mx-auto d-block mt-5" alt="">
    </div> --}}
        {{#each entries}}
            {{#if this.isHero}}
                <div class="card shadow-lg mx-auto">
                    <h5 class="card-header">Featured</h5>
                    <img class="card-img-top shadow-lg rounded-0" src="{{blogImgURL}}" alt="Card image cap">
                    <div class="card-body p-4">
                        <div class="mb-2">
                            <small class="text-uppercase bg-info rounded-pill px-2 py-1 mb-2">{{this.category}}</small>
                        </div>
                        <h5 class="card-title display-6">{{this.name}}</h5>
                        <p class="card-text">{{this.content}}</p>
                    </div>
                </div>
            {{else}}
                <div class="row">
                    <div class="col-sm-12 d-flex align-items-stretch">
                        <div class="card my-4 mx-auto shadow-lg">
                            <img class="card-img-top shadow-lg" src="{{blogImgURL}}" alt="Card image cap">
                            <div class="card-body p-4">
                                <div class="mb-2">
                                    <small class="text-uppercase bg-info rounded-pill px-2 py-1 mb-2">{{this.category}}</small>
                                </div>
                                <h5 class="card-title">
                                    {{this.name}}
                                </h5>
                                <span>
                                    {{this.content}}
                                </span>    
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
</div>
{{#if username}}
    {{!-- Footer Start --}}
    <ul class="nav d-flex justify-content-center align-items-center flex-column shadow-lg">
        <div class="nav-links d-flex my-5">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles">Articles</a>
            </li>
            <li class="nav-item dropdown">
                <a class="btn btn-outline-primary btn-md mx-2 dropdown-toggle user-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{username}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user/dash/{{username}}">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/auth/logout">Log Out</a></li>
                </ul>
            </li>
        </div>
        <div class="footer">
            <div class="div mx-auto mb-5" style="width:50px;height:1px;background-color:rgba(0, 0, 0, 0.25);"></div>
            <p>🔥 Created <strong>by</strong> Victor Krenzel. &copy; <em class="text-danger">2022</em> 🔥</p>
            <div class="socials col-auto p-4 text-center">
                <a href="https://github.com/vkrenz" target="_blank">
                    <i class="fa-brands fa-github fa-lg px-2"></i>
                </a>
                <a href="https://codepen.io/vkrenzel" target="_blank">
                    <i class="fa-brands fa-codepen fa-lg px-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/vkrenz/" target="_blank">
                    <i class="fa-brands fa-linkedin fa-lg px-2"></i>
                </a>
                
            </div>
        </div>
    </ul>
    {{!-- Footer End --}}
{{else}}
    {{!-- Footer Start --}}
    <ul class="nav d-flex justify-content-center align-items-center flex-column shadow-lg">
        <div class="nav-links d-flex my-5">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/articles">Articles</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
        </div>
        <div class="footer">
            <div class="div mx-auto mb-5" style="width:50px;height:1px;background-color:rgba(0, 0, 0, 0.25);"></div>
            <p>🔥 Created <strong>by</strong> Victor Krenzel. &copy; <em class="text-danger">2022</em> 🔥</p>
            <div class="socials col-auto p-4 text-center">
                <a href="https://github.com/vkrenz" target="_blank">
                    <i class="fa-brands fa-github fa-lg px-2"></i>
                </a>
                <a href="https://codepen.io/vkrenzel" target="_blank">
                    <i class="fa-brands fa-codepen fa-lg px-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/vkrenz/" target="_blank">
                    <i class="fa-brands fa-linkedin fa-lg px-2"></i>
                </a>
                
            </div>
        </div>
    </ul>
    {{!-- Footer End --}}
{{/if}}

{{!-- Custom JS --}}
<script src="/js/navbar.js"></script>
{{!-- Popper JS --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{!-- JQuery CDN --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{!-- Bootstrap JS CDN --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
</html>